{{{Navigation}}}
<div class="register-container">
    <form>
        <span class="text-container">Registration</span>
            {{{email}}}
            {{{login}}}
            {{{first_name}}}
            {{{second_name}}}
            {{{phone}}}
            {{{password}}}
            {{{repeat_password}}}
        <div class="button-container">
            {{{RegisterBtn}}}
            {{{LoginBtn}}}
        </div>
    </form>
</div>