{{{Navigation}}}
<div class="register-container">
    <form>
        <span class="text-container">Registration</span>
            {{{EmailInput}}}
            {{{LoginInput}}}
            {{{FirstNameInput}}}
            {{{SecondNameInput}}}
            {{{Phone}}}
            {{{PasswordInput}}}
            {{{RepeatPasswordInput}}}
        <div class="button-container">
            {{{RegisterBtn}}}
            {{{LoginBtn}}}
        </div>
    </form>
</div>
