{{{Navigation}}}
<div class="changeProfileInfo">
    <div class="changeProfileInfo-box">
        {{{Avatar}}}
        <form>
            <div class="updateProfileInfo">
                {{{EmailInput}}}
                {{{LoginInput}}}
                {{{FirstNameInput}}}
                {{{SecondNameInput}}}
                {{{DisplayNameInput}}}
                {{{Phone}}}
            </div>
            {{{SaveBtn}}}
        </form>
    </div>
</div>
