{{{Navigation}}}
<div class="changeProfileInfo">
    <div class="changeProfileInfo-box">
        {{{Avatar}}}
        <div class="updateProfileInfo">
            {{{email}}}
            {{{login}}}
            {{{first_name}}}
            {{{second_name}}}
            {{{display_name}}}
            {{{phone}}}
        </div>
        {{{SaveBtn}}}
    </div>
</div>
