{{{Navigation}}}
<div class="profile">
    <div class="profile-container">
        <div class="avatar-container">
            {{{Avatar}}}
            <span class="info-label">Baiakhmet</span>
        </div>
        <div class="info-container">
            <div>
                <span class="info-label">Email</span>
                <span class="info-value">pochta@yandex.ru</span>
            </div>
            {{{Divider}}}
            <div>
                <span class="info-label">Login</span>
                <span class="info-value">baiakhmet</span>
            </div>
            {{{Divider}}}
            <div>
                <span class="info-label">First name</span>
                <span class="info-value">Baiakhmet</span>
            </div>
            {{{Divider}}}
            <div>
                <span class="info-label">Second name</span>
                <span class="info-value">Zhekeyev</span>
            </div>
            {{{Divider}}}
            <div>
                <span class="info-label">Display name</span>
                <span class="info-value">Baya</span>
            </div>
            {{{Divider}}}
            <div>
                <span class="info-label">Phone</span>
                <span class="info-value">+708 777 77 77</span>
            </div>
        </div>
        <div class="profile-button-container">
            {{{ChangeUserInfoBtn}}}
            {{{ChangePasswordBtn}}}
            {{{LogoutBtn}}}
        </div>
    </div>
</div>