{{{Navigation}}}
<div class="login-container">
    <form>
        <span class="text-container">Login</span>
        {{{LoginInput}}}
        {{{PasswordInput}}}
        <div class="button-container">
            {{{LoginBtn}}}
            {{{RegisterBtn}}}
        </div>
    </form>
</div>
