{{{Navigation}}}
<div class="changePassword">
    <div class="changePassword-box">
        {{{Avatar}}}
        <form>
            <div>
                {{{oldPassword}}}
                {{{newPassword}}}
                {{{repeatNewPassword}}}
            </div>
            {{{SaveBtn}}}
        </form>
    </div>
</div>

