{{{Navigation}}}
<div class="changePassword">
    <div class="changePassword-box">
        {{{Avatar}}}
        <div class="setNewPassword">
            {{{oldPassword}}}
            {{{newPassword}}}
            {{{repeatNewPassword}}}
        </div>
        {{{SaveBtn}}}
    </div>
</div>
